body {
 
    color: #000;
    font-size: 56px;

}


  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  


  #googleMap{
    height: 400px;
    width: 80%;

  }

  .form-container {
         box-shadow: 20px 20px 20px black,
      -10px -10px 20px black;
  }

  .input-container {
      
  }

  .header {
      text-align: center;
      padding: 20px ;
  }
  
 