@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

body {
 
    color: #000;
    font-size: 56px;
    font-family: 'Roboto', sans-serif;

}


  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  


  #googleMap{
    height: 400px;
    width: 80%;

  }

  .form-container {
      box-shadow: 20px 20px 20px black,
      -10px -10px 20px black;
      padding: 10px;
  }

  .input-container {
      justify-content: center;
      text-align: center;
  }

  .header {
      text-align: center;
      padding: 20px ;
  }

  .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calculate-btn {
    margin: 10px;
   
  }

  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
 